<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BYO Wellington</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="restaurant">
      <h1 class="title">BYO</h1>
      <a class="nav" href="/">Home</a>
  


    {{{body}}}
      im the default 
</div>

  </body>
</html>



