
<h1>dollars</h1>

<form method="POST" action="/search">


  <label>Cheap and Cheerful<input type='radio' name='Cheap and Cheerful' value="Cheap and Cheerful"></label>
  <label>Mid<input type='radio' name='Mid' value="Mid"></label>
  <label>Spendy<input type='radio' name='Spendy' value="Spendy"></label>
  
<br>
<input type="submit" />
</form>