<h1>
  dollars</h1>

<form method="POST" action="/dollars/">


  <label>Cheap and Cheerful<input id='Cheap and Cheerful' type='radio' name='price' value="Cheap and Cheerful"></label>
  <label>In The Middle<input id='In The Middle' type='radio' name='price' value="In The Middle"></label>
  <label>Spendy<input id='Spendy' type='radio' name='price' value="Spendy"></label>

  <br>

  <input id='submit' type="submit" value="nom nom nom" />
</form>