
<form method="POST" action="/create">

gotta chuck a login or admin thing for this<br>
  <label>Restaurant: <input type="text" name="restaurant"/></label><br/>
  <label>Category: <input value= "dropdown?" type="text" name="category" /></label><br/>
  <label>Location: <input value="do something diff with maps" type="text" name="location"/></label><br/>
  <label>Range:
  
  <select name="price">
  <option value="Cheap and Cheerful">Cheap and Cheerful</option>
  <option value="In The Middle">In The Middle</option>
  <option value="Spendy">Spendy</option>
  </select>
  </label><br/>
 
  <label>Phone: <input value="data validation thingy" type="text" name="phone" value="{{phone}}"/></label><br/>
 

  <div class="createRest"><input type="submit" value="Submit" /></div>
</form>
