Categories
<form action="/category/" method="POST" name='add'   >
  <select name="category">
    {{#each category}}
      <option  value={{this}}>{{this}}</option>
    {{/each}}
  </select>

  <input id="submit" type="submit"value="Find Me Food" />

</form>