<form method="POST" action="/login" name="login">
  <h1>Login</h1>
  gotta chuck an admin thing for this<br />
  <label>who are you?<input type="text" name="username" /></label><br />
  <label>secret phrase<input value="" type="text" name="hash" /></label><br />

  <a href="/register">join the cool kids club</a>

  <div class="login"><input type="submit" value="Submit" /></div>
</form>